$font-light: #fff;
$font-grey: #a2a2a2;
$font-dark: #000;
$font-primary: #44B4AC;
$font-secondary: #3B566E;

$background-white: #fff;
$background-light: #F4F9FE;
$background-grey: #a2a2a2;
$background-grey-light: #EFF3F6;
$background-blue-light: #404040;
$background-blue: #3B566E;

$border-grey: #dbdbdb;
$border-dark: #000;
$border-primary: #44B4AC;
$border-secondary: #3B566E;

$action: #44B4AC;
$danger: #ed4956;