.productos h1 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 6rem 0 6rem;
    font-size: 4rem;
    font-weight: 700;
}

.productos img {
    text-align: center;
    width: 100%;
}
